
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}
body {
  font-family: "Signika Negative", sans-serif;
  font-weight: 300;
}
.section {
  background-color: #006341;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg1 {
  background-color: #ffffff;
  background-image: url(https://raw.githubusercontent.com/sdiazam/CSSASSIGNMENTTWO/main/images/birdy.png);
}
.bg2 {
  background-color: #ff1739;
}

span{
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
}

#Burberry{
  background-image: url(https://raw.githubusercontent.com/sdiazam/CSSASSIGNMENTTWO/main/images/burbs.jpeg);
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0;
}

#Fumando{
  font-family: 'Honk', system-ui;
}

#Bunny{
  color: #f36fbb;
}

#chorusbox{
  background-image: url(https://raw.githubusercontent.com/sdiazam/CSSASSIGNMENTTWO/main/images/pescado.png);
}

#Dorada{
  color: #FFD700;
}


p {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}
.revealUp {
  opacity: 0;
  visibility: hidden;
}
.spacer {
  height: 50vh;
  background-color: #000;
}